<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oliver.tenancy.mapper.RoleMapper">
    <insert id="saveRole" parameterType="Role" useGeneratedKeys="true" keyProperty="id">
        insert into `roles` (name, deleted)
        values (#{role.name}, #{role.deleted})
    </insert>

    <select id="getRoleById" resultType="Role">
        select * from roles
        where #{roleId} = roles.id
    </select>

    <select id="getRoleByName" resultType="Role">
        select * from roles
        where #{name} = roles.name
    </select>

    <select id="getUserRoles" resultType="Role">
        select *
        from roles
        left join users_roles on roles.id = users_roles.role_id
        where users_roles.user_id = #{userId}
    </select>

    <select id="getUserRole" resultType="Role">
        select *
        from roles
        left join users_roles on roles.id = users_roles.role_id
        where roles.id = #{roleId} and users_roles.user_id = #{userId}
    </select>

    <delete id="removeAllRolesFromDB">
        delete from `roles`
    </delete>
</mapper>