<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oliver.tenancy.mapper.UserMapper">
    <insert id="saveUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into `users` (username, password, type, deleted)
        values (#{user.username}, #{user.password}, #{user.type}, #{user.deleted})
    </insert>

    <select id="getUserById" resultType="User">
        select *
        from users
        where #{userId} = id
    </select>

    <select id="getUserByUsername" resultType="User">
        select *
        from users
        where #{username} = username
    </select>

    <delete id="removeAllUsersFromDB">
        delete from `users`
    </delete>
</mapper>